@media screen and (max-width: 1160px) {
    img {
        display: none;
    }

    .column-left .block .publication .info  {
        padding-left: 1px  !important;
    }
    .column-left .block   {
        padding-left: 1px !important;
    }



}


/* #3a5e52, #3a5e52 */
html,
body {
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #0a0a0a;
    display: block;
    /* background-color: #3a5e52; */
    /* background-color: #005C38; */
    /* background-color: #170000; */
    /* background-color: #E7E8EE; */
    margin: 0px 13px;
}

/* navigation */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 0px;
    padding-top: 15px;
    background-color: white;
}

.navigation {
    width: 100%;
    min-height: 50px;
    align-items: center;
}

.navigation a {
    text-decoration: none;
    padding: 30px 40px 30px 30px;
    /* font-weight: bold; */
    color: #000;
}

.navigation a.active {
    color: #C2CBB2;
    text-decoration: underline;
}

.navigation a:hover {
    color: #C2CBB2;
}

.navigation .icon {
    display: none;
}

/* columns */
.column-left {
    margin-top: 102px;
    width: 70%;
}

.column-right {
    margin-top: 102px;
    height: 100%;
    width: 25%;
    position: fixed;
    z-index: 1;
    top: 10px;
    bottom: 10px;
    right: 0;
    overflow-x: hidden;
    border-left: #C2CBB2 solid 1px;
    float: right;
    padding: 0px 15px;
}

.block {
    width: 100%;
    padding-bottom: 10px;
}

.column-right .block h2 {
    font-weight: bold;
    text-transform: uppercase;
    width: 60%;
    float: left;
}

.column-right .block img {
    float: left;
    padding: 20px;
    width: 100px;
    /* width: 15%; */
    height: 100px;
    border-radius: 50%;
}


.column-right .block .bio {
    float: left;
    padding: 10px;
}

.column-right .block .bio .short {
    font-weight: bold;
}

.column-left .block {
    padding-left: 30px;
}

.column-left .block .news {
    text-align: left;
    text-align: left;
    padding-bottom: 5px;
}

.column-left .block .news a {
    text-decoration: none;
    color: #170000;
}

.column-left .block .publication {
    text-align: left;
    display: inline-block;
    padding-bottom: 15px;
}

.column-left .block .publication img {
    width: 120px;
    float: left;
    padding-top: 10px;
}

.column-left .block .publication a {
    text-decoration: solid;
    color: #000;
}

.column-left .block .publication .info {
    padding-left: 150px;
}

/* lists */
.column-left .block .ulist {
    width: 120%;
}

.column-left .block .ulist .info {
    padding-left: 3em;
}

.column-left .block .ulist a {
    text-decoration: none;
    color: #000;
}

.column-left .block .ulist a:hover {
    text-decoration: underline;
    color: #C2CBB2;
}

.column-left .publication {
    width: 146%;
}

.column-left .publication .content {
    width: 100%;
}


.column-left .publication .abstract {
    text-align: justify;
}

.column-left .publication .citation {
    text-align: justify;
    border: #C2CBB2 solid 2px;
    border-radius: 31px;
    background-color: #DCDCDC;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
}


.column-left .publication .title img {
    width: 250px;
    height: 250px;
    float: right;
    padding: 20px;
}


/* icons */
.icons {
    text-align: right;
    font-size: 15px;
    bottom: 0;
    color: #C2CBB2;
}

.icons a {
    text-decoration: none;
    color: #C2CBB2;
    padding: 0px 10px 0px 10px;
}